<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="kwadraatService"
    class="be.vdab.xml.services.KwadraatService"/>  <!--    dit is de class waarvan Spring een bean zal maken-->
    <!--je moet application context configureren om IntelliJ de bean te kunnen laten instantiëren (gewoon een nieuwe maken)-->

</beans>